__pycache__/
venv/
.venv/
dist/
.coverage*
.ipynb_checkpoints/
.ruff_cache/
.DS_Store
._*
.claude/

/*.yml
!/default_config.yml
/configs/paths.yml


/pretrained_v3/*.safetensors

*.zip
*.csv
*.bak
/mos_results/

safetensors.ipynb
*.wav
/static/

# pyopenjtalk's dictionary
*.dic

/playground.ipynb
/playgrounds/
/reference/
