accelerate
cmudict
cn2an
g2p_en
GPUtil
gradio>=4.32
jieba
librosa==0.9.2
loguru
nltk<=3.8.1
num2words
numpy<2
onnx
onnxconverter-common
onnxruntime
protobuf==4.25
psutil
punctuators
pyloudnorm
pyopenjtalk-dict
pypinyin
pyworld-prebuilt
tensorboard
torch<2.4
torchaudio<2.4
transformers
umap-learn
